<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Book_Recommendation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPageUser</display-name>
    <servlet-name>ShowPageUser</servlet-name>
    <servlet-class>ShowPageUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPageUser</servlet-name>
    <url-pattern>/ShowPageUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookShowServlet</display-name>
    <servlet-name>BookShowServlet</servlet-name>
    <servlet-class>BookShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookShowServlet</servlet-name>
    <url-pattern>/BookShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowByCategory</display-name>
    <servlet-name>ShowByCategory</servlet-name>
    <servlet-class>ShowByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByCategory</servlet-name>
    <url-pattern>/ShowByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPageAdmin</display-name>
    <servlet-name>ShowPageAdmin</servlet-name>
    <servlet-class>ShowPageAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPageAdmin</servlet-name>
    <url-pattern>/ShowPageAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNewBook</display-name>
    <servlet-name>UploadNewBook</servlet-name>
    <servlet-class>UploadNewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNewBook</servlet-name>
    <url-pattern>/UploadNewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegister</display-name>
    <servlet-name>AdminRegister</servlet-name>
    <servlet-class>AdminRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegister</servlet-name>
    <url-pattern>/AdminRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackToDashboard</display-name>
    <servlet-name>BackToDashboard</servlet-name>
    <servlet-class>BackToDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackToDashboard</servlet-name>
    <url-pattern>/BackToDashboard</url-pattern>
  </servlet-mapping>
</web-app>